<?php

/**
 * ConversionDetailsApi
 * PHP version 5
 *
 * @category Class
 * @package  CyberSource
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
/**
 * CyberSource Merged Spec
 *
 * All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
 *
 * OpenAPI spec version: 0.0.1
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */
/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */
namespace Pymt_Vas\Dependencies\CyberSource\Api;

use Pymt_Vas\Dependencies\CyberSource\ApiClient;
use Pymt_Vas\Dependencies\CyberSource\ApiException;
use Pymt_Vas\Dependencies\CyberSource\Configuration;
use Pymt_Vas\Dependencies\CyberSource\ObjectSerializer;
use Pymt_Vas\Dependencies\CyberSource\Logging\LogFactory as LogFactory;
use Pymt_Vas\Dependencies\CyberSource\Authentication\Util\MLEUtility;
use Pymt_Vas\Dependencies\CyberSource\Utilities\MultipartHelpers\MultipartHelper;
use Exception;
/**
 * ConversionDetailsApi Class Doc Comment
 *
 * @category Class
 * @package  CyberSource
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class ConversionDetailsApi
{
    private static $logger = null;
    /**
     * API Client
     *
     * @var \Pymt_Vas\Dependencies\CyberSource\ApiClient instance of the ApiClient
     */
    protected $apiClient;
    /**
     * Constructor
     *
     * @param \Pymt_Vas\Dependencies\CyberSource\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Pymt_Vas\Dependencies\CyberSource\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }
        $this->apiClient = $apiClient;
        if (self::$logger === null) {
            self::$logger = (new LogFactory())->getLogger(\Pymt_Vas\Dependencies\CyberSource\Utilities\Helpers\ClassHelper::getClassName(get_class($this)), $apiClient->merchantConfig->getLogConfiguration());
        }
    }
    /**
     * Get API client
     *
     * @return \Pymt_Vas\Dependencies\CyberSource\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }
    /**
     * Set the API client
     *
     * @param \Pymt_Vas\Dependencies\CyberSource\ApiClient $apiClient set the API client
     *
     * @return ConversionDetailsApi
     */
    public function setApiClient(\Pymt_Vas\Dependencies\CyberSource\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }
    /**
     * Operation getConversionDetail
     *
     * Get Conversion Detail Transactions
     *
     * @param \DateTime $startTime Valid report Start Time in **ISO 8601 format** Please refer the following link to know more about ISO 8601 format.[Rfc Date Format](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14)  **Example date format:**   - yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ (e.g. 2018-01-01T00:00:00.000Z) (required)
     * @param \DateTime $endTime Valid report End Time in **ISO 8601 format** Please refer the following link to know more about ISO 8601 format.[Rfc Date Format](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14)  **Example date format:**   - yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ (e.g. 2018-01-01T00:00:00.000Z) (required)
     * @param string $organizationId Valid Organization Id (optional)
     * @throws \Pymt_Vas\Dependencies\CyberSource\ApiException on non-2xx response
     * @return array of \Pymt_Vas\Dependencies\Pymt_Vas\Dependencies\CyberSource\Model\ReportingV3ConversionDetailsGet200Response, HTTP status code, HTTP response headers (array of strings)
     */
    public function getConversionDetail($startTime, $endTime, $organizationId = null)
    {
        self::$logger->info('CALL TO METHOD getConversionDetail STARTED');
        list($response, $statusCode, $httpHeader) = $this->getConversionDetailWithHttpInfo($startTime, $endTime, $organizationId);
        self::$logger->info('CALL TO METHOD getConversionDetail ENDED');
        self::$logger->close();
        return [$response, $statusCode, $httpHeader];
    }
    /**
     * Operation getConversionDetailWithHttpInfo
     *
     * Get Conversion Detail Transactions
     *
     * @param \DateTime $startTime Valid report Start Time in **ISO 8601 format** Please refer the following link to know more about ISO 8601 format.[Rfc Date Format](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14)  **Example date format:**   - yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ (e.g. 2018-01-01T00:00:00.000Z) (required)
     * @param \DateTime $endTime Valid report End Time in **ISO 8601 format** Please refer the following link to know more about ISO 8601 format.[Rfc Date Format](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14)  **Example date format:**   - yyyy-MM-dd&#39;T&#39;HH:mm:ss.SSSZ (e.g. 2018-01-01T00:00:00.000Z) (required)
     * @param string $organizationId Valid Organization Id (optional)
     * @throws \Pymt_Vas\Dependencies\CyberSource\ApiException on non-2xx response
     * @return array of \Pymt_Vas\Dependencies\Pymt_Vas\Dependencies\CyberSource\Model\ReportingV3ConversionDetailsGet200Response, HTTP status code, HTTP response headers (array of strings)
     */
    public function getConversionDetailWithHttpInfo($startTime, $endTime, $organizationId = null)
    {
        // verify the required parameter 'startTime' is set
        if ($startTime === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter {$startTime} when calling getConversionDetail");
            throw new \InvalidArgumentException('Missing the required parameter $startTime when calling getConversionDetail');
        }
        // verify the required parameter 'endTime' is set
        if ($endTime === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter {$endTime} when calling getConversionDetail");
            throw new \InvalidArgumentException('Missing the required parameter $endTime when calling getConversionDetail');
        }
        // parse inputs
        $resourcePath = "/reporting/v3/conversion-details";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/hal+json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json;charset=utf-8']);
        // query params
        if ($startTime !== null) {
            $queryParams['startTime'] = $this->apiClient->getSerializer()->toQueryValue($startTime);
        }
        // query params
        if ($endTime !== null) {
            $queryParams['endTime'] = $this->apiClient->getSerializer()->toQueryValue($endTime);
        }
        // query params
        if ($organizationId !== null) {
            $queryParams['organizationId'] = $this->apiClient->getSerializer()->toQueryValue($organizationId);
        }
        if ('GET' == 'POST') {
            $_tempBody = '{}';
        }
        // for model (json/xml)
        if (isset($_tempBody) and count($formParams) <= 0) {
            $httpBody = $_tempBody;
            // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = MultipartHelper::build_data_files($boundary, $formParams);
            // for HTTP post (form)
        }
        //MLE check and mle encryption for req body
        $inboundMLEStatus = 'false';
        if (MLEUtility::checkIsMLEForAPI($this->apiClient->merchantConfig, $inboundMLEStatus, "getConversionDetail,getConversionDetailWithHttpInfo")) {
            try {
                $httpBody = MLEUtility::encryptRequestPayload($this->apiClient->merchantConfig, $httpBody);
            } catch (Exception $e) {
                self::$logger->error("Failed to encrypt request body:  {$e}");
                throw new ApiException("Failed to encrypt request body : " . $e->getMessage());
            }
        }
        // Logging
        self::$logger->debug("Resource : GET {$resourcePath}");
        self::$logger->debug("Query Parameters :\n" . \Pymt_Vas\Dependencies\CyberSource\Utilities\Helpers\ListHelper::toString($queryParams));
        self::$logger->debug("Query Parameters :\n" . \Pymt_Vas\Dependencies\CyberSource\Utilities\Helpers\ListHelper::toString($queryParams));
        self::$logger->debug("Query Parameters :\n" . \Pymt_Vas\Dependencies\CyberSource\Utilities\Helpers\ListHelper::toString($queryParams));
        if (isset($httpBody) and count($formParams) <= 0) {
            if ($this->apiClient->merchantConfig->getLogConfiguration()->isMaskingEnabled()) {
                $printHttpBody = \Pymt_Vas\Dependencies\CyberSource\Utilities\Helpers\DataMasker::maskData($httpBody);
            } else {
                $printHttpBody = $httpBody;
            }
            self::$logger->debug("Body Parameter :\n" . $printHttpBody);
        }
        self::$logger->debug("Return Type : \\CyberSource\\Model\\ReportingV3ConversionDetailsGet200Response");
        // Response MLE check
        $isResponseMLEForAPI = MLEUtility::checkIsResponseMLEForAPI($this->apiClient->merchantConfig, "getConversionDetail,getConversionDetailWithHttpInfo");
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi($resourcePath, 'GET', $queryParams, $httpBody, $headerParams, '\Pymt_Vas\Dependencies\CyberSource\Model\ReportingV3ConversionDetailsGet200Response', '/reporting/v3/conversion-details', $isResponseMLEForAPI);
            self::$logger->debug("Response Headers :\n" . \Pymt_Vas\Dependencies\CyberSource\Utilities\Helpers\ListHelper::toString($httpHeader));
            return [$this->apiClient->getSerializer()->deserialize($response, '\Pymt_Vas\Dependencies\CyberSource\Model\ReportingV3ConversionDetailsGet200Response', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Pymt_Vas\Dependencies\CyberSource\Model\ReportingV3ConversionDetailsGet200Response', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Pymt_Vas\Dependencies\CyberSource\Model\Reportingv3ReportDownloadsGet400Response', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'object', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }
            self::$logger->error("ApiException : {$e}");
            throw $e;
        }
    }
}